<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

    <a class="navbar-brand" href="#">🌟</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/main">Main <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Information
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">About this site</a>
                    <a class="dropdown-item" href="#">About us</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">How to use</a>
                </div>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <div style="padding:10px; color:white" name="username" value={{username}}>Welcome {{username}}</div>
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>

        <a href="/logout" class="btn btn-outline-danger my-2 my-sm-0">Log out</a>

    </div>
</nav>




<div class="container mt-4">
    <div class="row">
        {{#each foundByTag }}
        <div class="col-auto mb-3">

            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <p class='postName' value="{{ this.name }}">{{ this.name }}</p>
                    <div class="card">
                        <div class="card-body">
                            <img src='../images/green.jpg'>
                        </div>
                    </div>
                    <button type="submit" id='likeIncrement' class="btn btn-light">❤️</button>
                    <span class='like' value={{this.likes}}>
                        Likes: {{ this.likes}}
                    </span>
                    <div value={{this.tag}}>
                        Tag:@{{ this.tag}}
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>
</div>
<script src='/js/filter.js'></script>